.close-icon{
    position: absolute;
    right: 50px;
}

.ide{
    
    height:199px;
  
    overflow-x: hidden;
    overflow-y: auto;
}

.city-list{
    font-weight: bold;
    font-size: 18px;

}

h1{
   color: #fe9c9c;
   font-weight: bold;
}

// ion-item.city-list{
//     width: 100%;
// }

.city-close{
    font-size: 12;
}

.pop-head{
background-color: rgb(32, 101, 170);
}

