$offline-mode-height: 30px;
$offline-mode-font-size: 12px;
$list-posts-column-title-line: 3;
$list-posts-column-title-line-height: 20px;
$content-padding: 8px !default;
$hairlines-width: 1px !default;
$list-ios-border-color: #eee !default;
$item-ios-padding-end: 16px !default;
$checkbox-ios-item-start-margin-start: 2px !default;
$checkbox-ios-item-start-margin-end: 16px !default;
$goto-top-size: 30px;
$goto-top-bottom: 20px;