<ion-content>
  <ion-tabs slot="fixed">
    <ion-tab-bar slot="top" class="ion-justify-content-start">
      <ion-tab-button tab="view">
        <ion-chip transparent>
          <ion-icon name="newspaper" class="ion-color"></ion-icon>
          <ion-label>{{'favorites.view'|translate}}</ion-label>
        </ion-chip>
      </ion-tab-button>
      <ion-tab-button tab="setting">
        <ion-chip transparent>
          <ion-icon name="settings" class="ion-color"></ion-icon>
          <ion-label>{{'favorites.setting'|translate}}</ion-label>
        </ion-chip>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
