<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon size="large" color="primary" name="refresh-outline"></ion-icon>
    </ion-buttons>

        
           
    <ion-title>Horgászverseny</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
  
       <ion-label><b>Location:</b></ion-label>

    </ion-item>
  
    <ion-card-content>
      <ion-label><b>Comment:</b></ion-label>
    </ion-card-content>
  </ion-card>

  <ion-grid class="">
    <ion-row>
      <ion-col>Name</ion-col>
      <ion-col>Weight (gr)</ion-col>
      <ion-col>Piece</ion-col>
      <ion-col>Date</ion-col>
    </ion-row>
    <ion-row >
      <ion-col>Z-Co Team</ion-col>
      <ion-col>2<br>3<br>4</ion-col>
      <ion-col>2000<br>45243<br>23433</ion-col>
      <ion-col>09:23<br>10:12<br>12:34</ion-col>
    </ion-row>
    <ion-row >
      <ion-col>Other team</ion-col>
      <ion-col>2<br>3<br>4</ion-col>
      <ion-col>2000<br>45243<br>23433</ion-col>
      <ion-col>09:23<br>10:12<br>12:34</ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
