<ion-header>
  <ion-toolbar>
    <ion-title class="loc-head">Sent reports</ion-title>
    <!-- <ion-button color="primary" expand="full" (click)="dismiss()">Close</ion-button> -->
    <ion-button fill="clear" size="small" (click)="dismiss()" [disabled]="type">
      <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background"> 
  
  <ion-list>
    <ion-item>
      Test
    </ion-item>
    </ion-list>
</ion-content>
