<ion-content #content>
  <!-- Refresh -->
  <app-refresher slot="fixed" [disabled]="!loaded" (ionRefresh)="doRefresh($event)"></app-refresher>
  <!-- no data -->
  <app-no-data *ngIf="loaded && (!posts || posts.length < 1)"></app-no-data>
  <!-- loading -->
  <app-loading *ngIf="!loaded"></app-loading>
  <!-- List posts -->
  <app-list-posts *ngIf="posts" [posts]="posts" templates="card"></app-list-posts>
  <!-- Load more -->
  <app-infinite-scroll threshold="45%" (ionInfinite)="load($event)" *ngIf="!over && posts?.length > 0"></app-infinite-scroll>
  <!-- Go to top -->
  <app-goto-top slot="fixed" [content]="content"></app-goto-top>
</ion-content>
